<li>
  <details>
    <summary class="font-medium text-neutral-content">
      <div class="avatar avatar-placeholder">
        <div class="bg-base-300 text-base-content w-8 rounded-full">
          <span class="text-xs font-semibold"><%= current_user.username.first.upcase %></span>
        </div>
      </div>

      <%= I18n.t("views.menu.authenticated.greeting", username: current_user.username) %>
    </summary>

    <ul class="menu lg:menu-horizontal bg-base-200 rounded-box lg:mb-64 text-accent-content">
      <li><%= link_to I18n.t("views.menu.authenticated.profile"), "#", class: "font-medium" %></li>
      <li><%= link_to I18n.t("views.menu.authenticated.settings"), "#", class: "font-medium" %></li>
      <li><%= link_to I18n.t("views.menu.authenticated.logout"), session_path, data: { turbo_method: :delete }, class: "font-medium" %></li>
    </ul>
  </details>
</li>
