<% content_for :title, I18n.t("views.places.new.title") %>

<h1 class="text-5xl font-semibold text-primary mb-6">
  <%= I18n.t("views.places.new.title") %>
</h1>

<p class="text-lg text-base-content mb-6">
  <%= I18n.t("views.places.new.subheader") %>
</p>

<% unless authenticated? %>
  <div class="card card-md card-border bg-warning text-warning-content w-full">
    <div class="card-body">
      <h2 class="card-title font-semibold">
        <%= I18n.t("views.places.new.unauthenticated_alert_title") %>
      </h2>
      <p>
        <%= I18n.t("views.places.new.unauthenticated_alert_content") %>
      </p>
    </div>
  </div>
<% end %>

<%= form_with(model: @place, local: true, class: "my-6") do |form| %>
  <% if @place.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h3>
      <ul>
        <% @place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "places/form_sections/identification", form: %>
  <%= render "places/form_sections/location", form: %>
  <%= render "places/form_sections/hours", form: %>
  <%= render "places/form_sections/contact", form: %>
  <%= render "places/form_sections/additional_information", form: %>

  <div class="card card-md card-border bg-base-100 mt-6">
    <div class="card-body">
      <div class="flex gap-4">
        <%= form.submit I18n.t("views.places.new.submit_button"), class: "btn btn-primary" %>
        <%= link_to I18n.t("views.places.new.cancel_button"), places_path, class: "btn btn-outline" %>
      </div>
    </div>
  </div>
<% end %>

