<header>
    <div class="navbar bg-neutral shadow-sm">
        <div class="flex-1">
            <a class="btn btn-neutral text-xl text-neutral-content shadow-none" href="/">
                <%= image_tag "logo.svg", class: "w-10 h-10" %>
                Donating.io
            </a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-lg menu-horizontal font-medium text-lg text-neutral-content">
                <li>
                  <%= link_to I18n.t("views.menu.common.map"), root_path %>
                </li>
                <li>
                    <%= link_to I18n.t("views.menu.common.directory"), root_path %>
                </li>
                <li>
                    <%= link_to I18n.t("views.menu.common.contribute"), new_place_path %>
                </li>
                <li>
                    <%= link_to I18n.t("views.menu.common.about"), about_path %>
                </li>
                <%= render authenticated? ? "layouts/menu/authenticated_menu" : "layouts/menu/public_menu" %>
            </ul>
        </div>
    </div>
</header>
